@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
			body{
				background-color: #04131F;
				margin: 0;
        		padding: 0;
				font-family: "Times New Roman"
				
			}
            
.github-icon {
	fill: #04C4C4;
	color: #251e1e;
	position: fixed;
	top: 0;
	border: 0;
	right: 0;

}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}

.logo-title{
	font-family: 'Kaushan Script', cursive;
	margin-left: 11%;

}
.logo-title:hover{
	color: #04C4C4;
}
.navbar
{
	position: sticky;
  top: 0;
  /* margin-left:6%; */
  width:100%;
  height:75px;
  display: flex;
  color: #fff;
  background-color: #04131F;
  z-index:1;
  


}
.menu
{
	display: flex;
	margin-left:30%;
}
.menu h1 a::before {
  content: "#";
  color:#04C4C4;
}
.navbar .menu h1
{
	font-size: 25px;
	margin:9% 7%;
	white-space: nowrap;
}
.navbar .menu h1 a{
	color: #ABB2BF;
	text-decoration: none;
}

.navbar .menu h1 a:hover{
	color: #fff;
}


.left-sidebar {
	position: fixed;
	align-items: center;
	display: flex;
	flex-direction: column;
	top: 0;
	margin-left: 17px;
	min-height: 350px;
	
}

.left-line {
	position: relative; 
	display: flex;
	width: 2px;
	height: 200px;
	background-color: #ABB2BF;
	margin-bottom: 5px;
}

.left-sidebar a {
	display: flex;	
	margin-bottom: 5px;

}

.right-sidebar {
	position: fixed;
	align-items: center;
	display: flex;
	flex-direction: column;
	bottom: 0;
	right:17px;
	/* background-color: #04C4C4; */
}
.email{
	display: flex;	
	margin-bottom:17px;
	transform: rotate(270deg);
	width: 40px;
	font-size: larger;
	color: #ABB2BF;
	text-decoration: none;

}
.right-sidebar a{
	text-decoration: none;
}
.right-sidebar a:hover{
	text-decoration: underline;
}
.right-line {
	position: relative; 
	display: flex;
	width: 2px;
	height: 200px;
	background-color: #ABB2BF;
	bottom: 0;
}

/* .introduction
{
	margin-left:11%;
	margin-top: 18%;
	
} */
.introduction
{
	display: flex;
	position:absolute;
	margin-left:11%;
	margin-top: 10%;
	
	
}
.introduction h1 {
  color: white;
  font-size:50px;
  font-family: 'Times New Roman', Times, serif;
}

.introduction h1 span {
  color: #04C4C4;
}


/*--------------------------------------------------------------------------------- */




@media screen and (max-width: 768px) {
	.menu {
	  display: none;
	}
	.hamburger {
	  display: block;
	}
	.github-icon {
		display:none;
	
	}
  
  
  .hamburger {
	display: none;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	/* add hamburger icon styling */
  }
  
  .hamburger:hover {
	/* add hover styling */
  }
}



