@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body{
  background-color: #04131F;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman"
}

.github-icon {
  fill: #04C4C4;
  color: #251e1e;
  position: fixed;
  top: 0;
  border: 0;
  right: 0;
  z-index:2;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

.left-sidebar {
  position: fixed;
  align-items: center;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  min-height: 350px;
  z-index:2;

}

.left-line {
  position: relative; 
  display: flex;
  width: 2px;
  height: 200px;
  background-color: #ABB2BF;
  margin-bottom: 5px;   overflow-x: hidden; /* Add this line to hide horizontal scrollbar */
  overflow-y: hidden; /* Add this line to hide vertical scrollbar */
}

.left-sidebar a {
  display: flex;  
  margin-bottom: 5px;
}

.right-sidebar {
  position: fixed;
  align-items: center;
  display: flex;
  flex-direction: column;
  bottom: 0;
  right:17px;
  z-index: -1;
}

.email {
  display: flex;  
  margin-bottom:17px;
  transform: rotate(270deg);
  width: 40px;
  font-size: larger;
  color: #ABB2BF;
  text-decoration: none;
}

.right-sidebar a {
  text-decoration: none;
}

.right-sidebar a:hover {
  text-decoration: underline;
}

.right-line {
  position: relative; 
  display: flex;
  width: 2px;
  height: 200px;
  background-color: #ABB2BF;
  bottom: 0;
}
img {
  transition: transform 0.2s;
}

img:hover {
  transform: scale(1.1);
}

.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #04131F;
  width: 100%;
  top: 0;
  z-index: 1;
}

.logo {
  font-family: 'Kaushan Script', cursive;
  color: #fff;
  text-decoration: none;
  margin-left: 8%;
  font-size: 5vh;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-right: 10%;
}

.nav-links li {
  margin-left: 40px;

}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold; /* Made the text bolder */
  font-size: 3vh;
}
.nav-links  a::before {
  content: "#";
  color:#04C4C4;
}

.introduction {
  display: flex;
  position:relative;
  margin-left:11%;
  margin-top: 25%;
  margin-right: 10%;
}

.introduction h1 {
  color: white;
  font-size:50px;
  font-family: 'Times New Roman', Times, serif;
}

.introduction h1 span {
  color: #04C4C4;
}











.projects {
  width: 78%;
  height:auto;
  display:flex;
  flex-direction: column;
  margin-left:12%;
  color:white;
  margin-bottom:12%;
}
.project-list
{
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}
.heading 
{
   /* background-color:red; */
   display:flex;
	 align-items: center;
   position:relative;
   top:0;
   font-size: 25px;
   width: 100%;

}
.straight-line
{
  /* flex-wrap:wrap; */
   background-color:#04C4C4;
   width:500px;
   height:2px;
   margin-left:1%;
   /* display: block; Removed this line as it was not working */
   
   
}

.flex-container {
  padding: 0;
  margin:5% 0px 0px 0px;
  width:100%;
  right:0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-item {
  position: relative;
  width: 300px;
  height: 430px;
  margin-top: 40px;
  border-radius: 7%;
  border: 1px solid #04C4C4;
}

.description
{
color:rgba(255, 255, 255, 0.5);
padding:0%;
margin-top:0%;
margin-bottom:20%;
}
.tech-used {
color: #04C4C4;
background-color: rgba(4, 196, 196, 0.1);
padding-top: 3%;
padding-bottom: 3%;
padding-left: 10px;
padding-right: 10px;
display: inline-block;
border-radius:20%;
margin-top:0%;
}

.inner-outline
{
margin-left:10%;
margin-top:8%;
margin-right:10%;
margin-bottom:0%;
/* justify-content: flex-end; */
}
.project-image
{
/* background-color:red; */
height:160px;
width:240px;
border-radius:5%;
bottom:0;
overflow: hidden;
}




#about-me{
  /* background-color:green; */
  height:auto;
  margin-top:0px;
  position:relative;

  z-index:-1;
  }
  .about {
  line-height: 4.5vh;
  width: 78%;
  height:auto;
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-left:12%;
  color:white;
  margin-bottom:12%;
  }

  #clubs{
    /* background-color:green; */
    height:auto;
    margin-top:0px;
    position:relative;
    z-index:-1;
    overflow-x: hidden; /* Add this line to hide horizontal scrollbar */
    overflow-y: hidden; /* Add this line to hide vertical scrollbar */
  }
  .club {
    /* background-color: brown; */
    width: 78%;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-left:12%;
    color:white;
    margin-bottom:12%;
  }
  .club-images {
    width: 100%;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: moveImages 10s linear infinite;
 
  }
  
  .club-images img {
    margin: 20% 8% 0%;
    border-radius: 50%;
    animation: moveImage 10s linear infinite;
  }
  
  @keyframes moveImages {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(-100%);
    }
  }


    #contacts{
      /* background-color:green; */
      height:auto;
      margin-top:0px;
      position:relative;
      z-index:0;
      
      }
      .contact {
      /* background-color: brown; */
      width: 78%;
      height:auto;
      display:flex;
      flex-direction: column;
      align-items:center;
      margin-left:12%;
      color:white;
      margin-bottom:12%;
      position:relative;
      /* z-index:  -1; */
      
      
      }
      
      .heading h1 {
        white-space: nowrap;
      }
      
      .about-desc 
      {
        margin-top:15%;
        margin-bottom:0px;
        color:white;
        font-size:25px;
      }
    form{
      width:100%;
      margin-top:8%;
      /* display:flex; */
      
   }
   .container {
     width: 80%;
     padding: 0 20px;
     /* align-items: center; */
     display:block;
     /* margin-top:15%; */
   
   }
   
   .container h2 {
     width: 100%;
     color: #04C3C3;
     font-size: 36px;
     text-align: center;
     margin-bottom: 10px;
     position: fixed;
   }
   
   .container .row100 {
     width: 100%;
     display: grid;
     
   
   }
   
   .container .row100 .col {
     position: relative;
     width: 80%;
     padding: 0 10px;
     margin: 30px 50px 10px;
     transition: 0.5s;
     
   }
   
   .container .row100 .inputBox {
     position: relative;
     width: 100%;
     height: 40px;
     color: #04C3C3;
     
   }
   
   .container .row100 .inputBox input,
   .container .row100 .inputBox.textarea textarea {
     position: absolute;
     width: 98%;
     height: 100%;
     background: transparent;
     box-shadow: none;
     border: none;
     outline: none;
     font-size: 18px;
     padding: 0 10px;
     z-index: 1;
     color: #000;
   }
   
   .container .row100 .inputBox .text {
     position: absolute;
     top: 0;
     left: 0;
     line-height: 40px;
     font-size: 18px;
     padding: 0 10px;
     display: block;
     transition: 0.5s;
     pointer-events: none;
     
     
   }
   
   .container .row100 .inputBox input:focus + .text,
   .container .row100 .inputBox input:valid + .text {
     top: -35px;
     left: -10px;
     
   }
   
   .container .row100 .inputBox .line {
     position: absolute;
     bottom: 0;
     display: block;
     width: 100%;
     height: 2px;
     background: #04C3C3;
     transition: 0.5s;
     border-radius: 2px;
     pointer-events: none;
     
   }
   
   .container .row100 .inputBox input:focus ~ .line,
   .container .row100 .inputBox input:valid ~ .line {
     height: 100%;
     
   }
   
   .container .row100 .inputBox.textarea {
     position: relative;
     width: 100%;
     height: 100px;
     padding: 10px 0;
     
   }
   
   .container .row100 .inputBox.textarea textarea {
     height: 100%;
     resize: none;
     
   }
   
   .container .row100 .inputBox textarea:focus + .text,
   .container .row100 .inputBox textarea:valid + .text {
     top: -35px;
     left: -10px;
     
   }
   
   .container .row100 .inputBox textarea:focus ~ .line,
   .container .row100 .inputBox textarea:valid ~ .line {
     height: 100%;
     
     
   }
   
   input[type="submit"] {
     border: none;
     padding: 7px 35px;
     cursor: pointer;
     outline: none;
     background: #04C3C3;
     color: #000;
     font-size: 18px;
     border-radius: 2px;
     
   }
   
   
   /* ------------------------------------------- */
   /* footer {
     display: flex;
     width: 100%;
     height: 250px;
     justify-content: center;
     
     background-color: red;
     color: white;
   
   }
   
   footer .container {
     width: 100%;
     align-items: center;
   }
   
   
   .foo-straight {
     width: 70%;
     height: 2px;
     background-color: white;
     margin: 0 auto;
     position: relative;
     top:0;
   
   } */
   
   footer {
   
     width: 100%;
     height: 250px;
     position: relative;
     /* background-color:red; */
   }
   
   .foo-straight {
     width: 70%;
     height: 2px;
     background-color: white;
     position: absolute;
     top: 0;
     left: 15%;
   }
   
   footer .container {
     position: absolute;
     top: 50%;
     left: 50%;
     width:auto;
     transform: translate(-50%, -50%);
     color:white;
     text-align:center;
   }
   
   
   .p-logo{
     font-family: 'Kaushan Script', cursive;
     font-size:25px;
   }
   .contact-p
   {  font-size:25px;
     position:relative;
     width: 100%;
     margin: 0;
     padding: 0;
     top:0;
     margin-top:6%;
   }

@media screen and (max-width: 768px) {
  .codrops-header
  {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .left-sidebar
  {
    margin-left: 6px;
  }
  .right-sidebar
  {
    right:6px;
  }

  .introduction
  {
    margin-top: 30%;
    margin-left: 18%;
    line-height: 5.5vh;
  }
    .introduction h1 {
        font-size: 2em;
    }
    .about .contact
    {
      font-size: 2vh;
    }

}

